# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=sentinel
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword

# API
API_BASE_URL=http://localhost:8000


# Camera
STREAM_PORT=8080
SNAPSHOT_DIR=snapshots

# GCP
GOOGLE_APPLICATION_CREDENTIALS=gcp_credentials.json
GCP_PROJECT_ID=